<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>test</title>
</head>
<body>
    <form action="http://localhost:5000/forecast" method=post>
    	ID:
    	<select name='id'>
        	<option value ='F2273'>F2273</option>
		</select><br/>
    	起报时间:
      	<select name='time'>
  			<option value ="08">08</option>
  			<option value ="20">20</option>
  		</select><br/>
    	预报第
    	<select name='predict_day'>
			<option value =1>1</option>
			<option value =2>2</option>
			<option value =3>3</option>
			<option value =4>4</option>
			<option value =5>5</option>
			<option value =6>6</option>
			<option value =7>7</option>
			<option value =8>8</option>
			<option value =9>9</option>
			<option value =10>10</option>
		</select>天:<br/>
      	<input type=submit value=Upload>
    </form>
</body>


</html>